body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: aqua;
}

#box {
  background-color: rgba(128, 128, 226, 0.589);
  border-radius: 20px;
  border: 5px solid #983ec2;
  padding: 2vh;
  min-width: 40vh;
  max-width: 90vw;
  box-sizing: border-box;
}

#displayresult {
  min-height: 5vh;
  background-color: wheat;
  border-radius: 20px;
  padding: 20px;
  font-size: 3vh;
  text-align: right;
  margin-bottom: 10px;
  overflow: auto;
}

#numbers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

button {
  width: 10vh;
  height: 10vh;
  font-size: 2.5vh;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  background-color: #f1f1f1;
  box-shadow: 2px 2px 5px #999;
  transition: 0.2s;
}

button:hover {
  background-color: #ddd;
}

#plus,
#enter {
  height: 20vh;
}

#zero {
  width: 20vh;
}
